<div class="modal-header">
  <div class="bootstrap-dialog-header">
    <div class="bootstrap-dialog-title">Terms of Use and Privacy Policy</div>
  </div>
</div>
<div class="modal-body">
  <p>
    All smart contracts have been audited carefully multiple times.
    However, all contracts are <strong>WITHOUT ANY WARRANTY;</strong> without even
    the implied warranty of <strong>MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE</strong>.
  </p>
  <p>
    Use at your own risk. If you don't believe us, check the <a href="https://gitlab.com/ethergem/egem-multisig">source code</a> and run the app yourself. These are the Terms of Use.
  </p>
  <p>
    We don't track or collect anything. If you don't believe us, check the <a href="https://gitlab.com/ethergem/egem-multisig">source code</a> and run the app yourself. This is the Privacy Policy.
  </p>
  <div class="checkbox">
      <label>
        <input type="checkbox" ng-model="termsOfUse">
        I have read and understood the Terms of Use
      </label>
  </div>
  <div class="checkbox">
      <label>
        <input type="checkbox" ng-model="privacyPolicy">
        I have read and understood the Privacy Policy
      </label>
  </div>


</div>
<div class="modal-footer">
  <button type="button" ng-click="ok()" class="btn btn-default" id="terms-button" ng-disabled="!termsOfUse || !privacyPolicy">
    Continue
  </button>
</div>
