<div class="modal-header">
  <h3 class="modal-title">
    Send transaction
  </h3>
</div>
<form name="form" class="form">
  <div class="modal-body">
    <div class="form-group">
      <label for="destination">
        Destination
        <!-- pick address from address book -->
        <button class="btn btn-default btn-sm" ng-click="openAddressBook()">
          <i class="fa fa-address-book" title="Address book"></i>
        </button>
      </label>
      <input id="destination" type="text" ng-model="tx.to" ng-change="updateABI()"  ng-min="40" class="form-control" required>
    </div>
    <div class="form-group">
      <label for="name">Contract name (optional)</label>
      <input type="text" class="form-control" ng-model="name" name="name" />
    </div>
    <div class="form-group">
      <label for="value">Amount (EGEM)</label>
      <input id="value" type="number" class="form-control" ng-model="tx.value" min="0" max="999999999999999" ng-required="!abi">
    </div>
    <div class="form-group">
      <label for="abi">ABI string</label>
      <textarea id="abi" rows="3" class="form-control" ng-model="abi" ng-change="updateMethods()" ng-required="!tx.value"></textarea>
    </div>
    <div class="form-group">
      <label for="method">Method</label>
      <select id="method" ng-model="method" ng-options="method.name for method in methods track by method.index"
       ng-required="tx.abi" class="form-control" ng-change="setMethod()" ng-disabled="!abiArray" ></select>
    </div>
    <div class="form-group" ng-show="method && abiArray[method.index].inputs.length > 0">
      <h3>
        Parameters
      </h3>
      <div class="form-group" ng-repeat="param in abiArray[method.index].inputs" >
        <div ng-switch on="param.type">
          <label ng-attr-for="{{ 'value-' + $index }}">{{param.name}}</label>
          <input ng-attr-id="{{ 'value-' + $index }}" ng-switch-default type="text" class="form-control" ng-model="params[$index]">
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" ng-click="send()" class="btn btn-default" show-hide-by-connectivity="online"
      disabled-if-invalid-address="{{tx.to}}"
      ng-disabled="form.$invalid || abiArray[method.index].constant">
      Send transaction
    </button>
    <button type="button" ng-click="simulate()" class="btn btn-default" show-hide-by-connectivity="online"
      disabled-if-invalid-address="{{tx.to}}"
      ng-disabled="form.$invalid">
      Simulate transaction
    </button>
    <button type="button" ng-click="signOff()" show-hide-by-connectivity="offline" class="btn btn-default" ng-disabled="form.$invalid">
      Sign offline
    </button>
    <button type="button" ng-click="cancel()" class="btn btn-danger">
      Cancel
    </button>
  </div>
</form>
