<div class="modal-header">
  <h3 class="modal-title">
    Withdraw limit
  </h3>
</div>
<form name="form" class="form">
  <div class="modal-body">
    <div class="form-group">
      <label for="value">Amount (EGEM)</label>
      <input id="value" type="number" class="form-control" ng-model="tx.value" ng-min="0" max="999999999999999" required>
    </div>
    <div class="form-group">
      <label for="address">Destination</label>
      <input id="address" type="text" class="form-control" ng-model="tx.to" ng-minlength="40" required>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" ng-click="send()" class="btn btn-default" ng-disabled="form.$invalid"
      disabled-if-invalid-address="{{tx.to}}"
      show-hide-by-connectivity="online">
      Send multisig transaction
    </button>
    <button type="button" ng-click="signOff()" class="btn btn-default" ng-disabled="form.$invalid" show-hide-by-connectivity="offline">
      Sign offline
    </button>
    <button type="button" ng-click="cancel()" class="btn btn-danger">
      Cancel
    </button>
  </div>
</form>
